<!doctype html>
<html lang="pl">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Sebastian Kopiczko">

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <!-- div.container>(div.landing>(header.header>a.logo+img.logo__img+nav.nav>ul.nav__menu>li.nav__item*7>a)+(section.landing-page>h1.landing-page__heading+div.landing__buttons>a.page-button*2))+(section.about>div.section-content>h2.section-content__heading+p.section-content__text)+(section.ingredients>div.section-content.bg-shadow--dark>h2.section-content__heading+p.section-content__text+img.ingredients__img*3)+(section.menu>div.section-content>h2.section-content__heading+ul.menu__category>li.menu__item*4)+(section.review>div.section-content.bg-shadow--dark>h2.section-content__heading+p.section-content__text)+(section.book-table>img.book-table__img*2+div.section-content>h2.section-content__heading+p.section-content__text)+(footer.footer>(div.section-content>h2.section-content__heading+p.section-content__text)+(div.section-content>h2.section-content__heading+div.footer__opening-hours)+(div.section-content>div.footer__location+div.footer__socials)) -->

    <div class="container">
        <div class="landing">
            <header class="header">
                <a href="" class="logo"></a>
                <img src="" alt="" class="logo__img">
                <nav class="nav">
                    <ul class="nav__menu">
                        <li class="nav__item">
                            <a href=""></a>
                        </li>
                        <li class="nav__item">
                            <a href=""></a>
                        </li>
                        <li class="nav__item">
                            <a href=""></a>
                        </li>
                        <li class="nav__item">
                            <a href=""></a>
                        </li>
                        <li class="nav__item">
                            <a href=""></a>
                        </li>
                        <li class="nav__item">
                            <a href=""></a>
                        </li>
                        <li class="nav__item">
                            <a href=""></a>
                        </li>
                    </ul>
                </nav>
            </header>
            <section class="landing-page">
                <h1 class="landing-page__heading"></h1>
                <div class="landing__buttons">
                    <a href="" class="page-button"></a>
                    <a href="" class="page-button"></a>
                </div>
            </section>
        </div>
        <section class="about">
            <div class="section-content">
                <h2 class="section-content__heading"></h2>
                <p class="section-content__text"></p>
            </div>
        </section>
        <section class="ingredients">
            <div class="section-content bg-shadow--dark">
                <h2 class="section-content__heading"></h2>
                <p class="section-content__text"></p>
                <img src="" alt="" class="ingredients__img">
                <img src="" alt="" class="ingredients__img">
                <img src="" alt="" class="ingredients__img">
            </div>
        </section>
        <section class="menu">
            <div class="section-content">
                <h2 class="section-content__heading"></h2>
                <ul class="menu__category">
                    <li class="menu__item"></li>
                    <li class="menu__item"></li>
                    <li class="menu__item"></li>
                    <li class="menu__item"></li>
                </ul>
            </div>
        </section>
        <section class="review">
            <div class="section-content bg-shadow--dark">
                <h2 class="section-content__heading"></h2>
                <p class="section-content__text"></p>
            </div>
        </section>
        <section class="book-table">
            <img src="" alt="" class="book-table__img">
            <img src="" alt="" class="book-table__img">
            <div class="section-content">
                <h2 class="section-content__heading"></h2>
                <p class="section-content__text"></p>
            </div>
        </section>
        <footer class="footer">
            <div class="section-content">
                <h2 class="section-content__heading"></h2>
                <p class="section-content__text"></p>
            </div>
            <div class="section-content">
                <h2 class="section-content__heading"></h2>
                <div class="footer__opening-hours"></div>
            </div>
            <div class="section-content">
                <div class="footer__location"></div>
                <div class="footer__socials"></div>
            </div>
        </footer>
    </div>
</body>

</html>