@import "~bootstrap/scss/bootstrap";
@import "./scss/core";
* {
  // border: 1px solid lightsalmon;
}

//////// HEADER
.header {
  background: linear-gradient($black, transparent);
  z-index: 2;
  position: fixed;
  &__logo,
  .logo {
    display: block;
    &__text {
      text-transform: uppercase;
      font-size: 1.8rem;
    }
  }
  .nav {
    &__menu,
    .menu {
      visibility: hidden;
      opacity: 0;
      left: 0;
      top: 0;
      height: 0;
      z-index: 2;
      background: $white;
      transition: opacity 0.3s ease-in-out;
      &--opened {
        visibility: visible;
        opacity: 1;
        height: 100vh;
      }

      &__item {
        text-align: center;
        padding: 0.5em 2em;
        color: $black;
        font-size: 1.2em;
        a {
          transition: color 0.3s;
        }
        @include media-breakpoint-up(md) {
          font-size: 1.35em;
          padding: 0.7em;
        }
        @include media-breakpoint-up(lg) {
          font-size: 1.5em;
          padding: 0.7em;
        }
        @include media-breakpoint-up(xl) {
          font-size: 1.65em;
        }
      }
      &__button {
        display: inline-block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        z-index: 3;
        .line {
          transition: all 0.3s ease;
          position: absolute;
          left: 0;
          height: 3px;
          width: 100%;
          background: white;
          border-radius: 4px;
          &--top {
            top: 19%;
          }
          &--center {
            top: 49%;
          }
          &--bottom {
            top: 79%;
          }
        }
        &--opened {
          .line {
            background: $black;
            width: 35px;
            top: 1em;
            right: 1em;
            &--top {
              top: 12px;
              left: -4px;
              transform: rotate(-45deg);
            }
            &--center {
              transform: translateX(-100px);
              opacity: 0;
            }
            &--bottom {
              top: 12px;
              left: -4px;
              transform: rotate(45deg);
            }
          }
        }
      }
    }
    .social-icons {
      height: 60px;
      &--fb {
        @include icon-img("fb--gold");
        &:hover {
          @include icon-img("fb--black");
        }
      }
      &--yt {
        @include icon-img("yt--gold");
        &:hover {
          @include icon-img("yt--black");
        }
      }
      &--tw {
        @include icon-img("tw--gold");
        &:hover {
          @include icon-img("tw--black");
        }
      }
      &__item {
        display: inline-block;
        width: 50px;
        height: 50px;
      }
    }
    @include media-breakpoint-up(lg) {
      display: block;
      position: relative;
      &__btn {
        display: none;
      }
      &__menu {
        position: relative;
        background: none;
        border: none;
        margin: 0;
        display: block;
        height: 50px;
      }
      &__item {
        display: inline-block;
        border: none;
        padding: 0;
        &:not(:first-child) {
          margin-left: 0.5em;
        }
      }
    }
  }
}
.section-content {
  transition: all 0.3s ease-in-out;

  max-width: 550px;
  @include media-breakpoint-up(md) {
    max-width: 450px;
  }
}

/////// LANDING
.landing {
  height: 100vh;
  color: $white;
  @include bg-image("bg-landing");
  background: {
    size: cover;
    position: right;
  }

  &__heading {
    max-width: 550px;
    padding-top: 25vh;
    font-size: 3em;
    transition: all 0.3s ease-in-out;
    @include media-breakpoint-up(md) {
      padding-top: 30vh;
    }
    @include media-breakpoint-up(lg) {
      font-size: 3.8em;
      padding-top: 40vh;
    }
    @include decoration("white");
    &::after {
      top: 0.2em;
    }
  }
}

// ////// ABOUT
.about {
  overflow: hidden;
  @include bg-image("bg-about");
  &__heading {
    @include decoration("gold");
  }
  &__chef-img {
    @include media-breakpoint-up(sm) {
      position: relative;
      left: 2em;
    }
  }
  &__photo {
    display: none;
    position: relative;
    right: -5em;
    @include media-breakpoint-up(md) {
      display: block;
    }
    @include media-breakpoint-up(xl) {
      right: 0;
    }
  }
}
// ////// INGREDIENTS
.ingredients {
  padding: 0;
  color: $white;
  @include bg-image("bg-ingredients");
  background: {
    position: center;
    repeat: no-repeat;
  }
  &__heading {
    @include decoration("white");
    &::after {
      top: 0.2em;
    }
  }
  &__img {
    width: 80%;
  }

  .section-content {
    background: rgba(0, 0, 0, 0.85);
    @include media-breakpoint-up(md) {
      position: relative;
      right: -8em;
    }
    @include media-breakpoint-up(lg) {
      position: relative;
      right: -14em;
    }
  }
}
// ////// MENU
.menu {
  .section-content {
    @include media-breakpoint-up(md) {
      max-width: 100%;
    }
    @include media-breakpoint-up(lg) {
      max-width: 960px;
    }
  }
  @include bg-image("bg-menu");
  .category {
    transition: all 0.3s ease-in-out;
    @include media-breakpoint-up(md) {
      max-width: 300px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 430px;
    }
    &__heading {
      @include decoration("gold");
    }
    &__list {
      li {
        margin: 0 auto;
      }
    }
  }
  &__item {
    max-width: 380px;
  }
  .dish {
    &__heading {
      font-size: 1.4em;
      border-bottom: 1px solid $gold-transparent;
    }
    &__description {
      font-family: "Lato";
      width: 90%;
      color: $grey;
    }
  }
}
// ////// REVIEWS
.review {
  @extend .ingredients;
  .section-content {
    right: 0;
  }
  @include bg-image("bg-reviews");
  &__heading {
    @include decoration("white");
  }
  &__text {
    position: relative;
    &::before {
      content: open-quote;
      font-size: 3em;
      position: absolute;
      top: -0.5em;
      left: -15px;
      opacity: 0.85;
    }
    &::after {
      content: close-quote;
      font-size: 3em;
      position: absolute;
      bottom: -0.75em;
      opacity: 0.85;
      right: 0;
    }
  }
}
// ////// BOOKING
.reservation {
  @include bg-image("bg-about");
  overflow: hidden;
  padding: 1em 0;
  transition: all 0.3s ease-in-out;
  @include media-breakpoint-up(sm) {
    padding: 2em 0;
  }
  .section-content {
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: 960px;
    }
  }
  &__heading {
    @include decoration("gold");
  }
  &__photo {
    display: none;
    img {
      display: none;
    }
    @include media-breakpoint-up(lg) {
      img {
        display: block;
        width: 100%;
      }
      width: 40%;
      position: relative;
      overflow: hidden;
    }
  }

  .reservation__form {
    width: 100%;
    max-width: 550px;
  }

  .input-container {
    min-width: 200px;
    @include media-breakpoint-up(sm) {
      &:nth-child(odd) {
        margin-right: 2em;
      }
    }
  }
  label {
    display: block;
    position: relative;
    top: 4px;
    font-weight: bolder;
  }
  input {
    transition: all 0.3s ease-in-out;
    &:focus {
      &:not([type="date"]) {
        width: 80%;
        border: 1px solid $gold;
      }
    }
    &:active {
    }
  }
}
// ////// FOOTER
.footer {
  background: $black;
  color: $white;
  padding: 1em;
  .section-content {
    max-width: 100%;
    @include media-breakpoint-up(lg) {
      max-width: 1100px;
    }
  }
  &__heading {
    border-bottom: 1px solid $white;
  }
  &__item {
    min-width: 270px;
  }
  &__about {
    max-width: 380px;
  }
  &__opening-hours,
  &__location {
    max-width: 340px;
  }
}

//////// OTHER
.text {
  &--gold {
    color: $gold;
  }
}

h1,
h2,
.logo__text,
.dish__heading {
  font-family: "Gentium Book Basic", serif;
}
.page-button {
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  &--custom {
    background-color: rgba(15, 15, 15, 0.7);
    border-radius: 0;
    border: 1px solid $white;
    &:hover {
      background-color: $white;
      color: $black;
      border: 1px solid $black;
    }
  }
  &--gold {
    background-color: $gold;
    color: $white;
    border: 1px solid $black;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}
