@import "~bootstrap/scss/bootstrap";
@import "./scss/core";
* {
  // border: 1px solid lightsalmon;
}

//////// HEADER
.header {
  background: linear-gradient($black, transparent);
  z-index: 2;
  &__logo,
  .logo {
    display: block;
    &__text {
      text-transform: uppercase;
      font-size: 1.8rem;
    }
  }
  .nav {
    &__menu,
    .menu {
      // width: 85%;
      right: 0;
      top: 0;
      z-index: 2;
      background: $white;
      transition: all 0.32s;
      transform: translateX(100%);
      &--opened {
        transform: translateX(0);
      }
      &__item {
        text-align: center;
        padding: 1em 3em;
        color: rgb(56, 56, 56);
        font-size: 1.3em;
        // border-bottom: 1px solids       $gold-transparent;
        a {
          transition: color 0.3s;
        }
      }
      &__button {
        display: inline-block;
        width: 30px;
        height: 30px;
        position: relative;
        cursor: pointer;
        .line {
          position: absolute;
          left: 0;
          height: 3px;
          width: 100%;
          background: white;
          border-radius: 4px;
        }
        .line01 {
          top: 19%;
        }
        .line02 {
          top: 49%;
        }
        .line03 {
          top: 79%;
        }
        &--opened {
          .line {
            background: $black;
            z-index: 3;
          }
        }
      }
    }

    @media (min-width: 992px) {
      display: block;
      position: relative;
      &__btn {
        display: none;
      }
      &__menu {
        position: relative;
        background: none;
        border: none;
        margin: 0;
        display: block;
        height: 50px;
      }
      &__item {
        display: inline-block;
        border: none;
        padding: 0;
        &:not(:first-child) {
          margin-left: 0.5em;
        }
      }
    }
  }
}
.section-content {
  max-width: 450px;
}

/////// LANDING
.landing {
  height: 100vh;
  color: $white;
  @include bg-image("bg-landing");
  background-size: cover;
  background-position: right;
  &__heading {
    font-size: 3em;
    @include decoration("white");
    &::after {
      top: 0.2em;
    }
  }
}
.page-button {
  max-width: 10em;
  display: inline-block;
  text-transform: uppercase;
  &--black {
    background-color: rgba(15, 15, 15, 0.7);
    border: 1px solid $black;
  }
  &--white {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
  }
}

// ////// ABOUT
.about {
  @include bg-image("bg-about");
  &__heading {
    @include decoration("gold");
  }
  &__photo {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
}
// ////// INGREDIENTS
.ingredients {
  @include bg-image("bg-ingredients");
  background: {
    position: center;
    repeat: no-repeat;
  }
  color: $white;
  .section-content {
    background: rgba(0, 0, 0, 0.7);
  }
  &__heading {
    @include decoration("white");
    &::after {
      top: 0.2em;
    }
  }
  &__img {
    width: 80%;
  }
}
// ////// MENU
.menu {
  @include bg-image("bg-menu");
  .category {
    &__heading {
      @include decoration("gold");
    }
  }
  &__item {
    max-width: 380px;
  }
  .dish {
    &__heading {
      font-size: 1.4em;
      border-bottom: 1px solid $gold-transparent;
    }
    &__description {
      font-family: "Lato";
      width: 90%;
      color: $grey;
    }
  }
}
// ////// REVIEWS
.review {
  @extend .ingredients;
  @include bg-image("bg-reviews");
  &__heading {
    @include decoration("white");
  }
  &__text {
    position: relative;
    &::before {
      content: open-quote;
      font-size: 3em;
      position: absolute;
      top: -0.5em;
      left: -10px;
    }
    &::after {
      content: close-quote;
      font-size: 3em;
      position: absolute;
      bottom: -0.75em;
      right: 0;
    }
  }
}
// ////// BOOKING
.reservation {
  @include bg-image("bg-about");
  &__heading {
    @include decoration("gold");
  }
  &__photo {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
  &__button {
    cursor: pointer;
    background: $light-gold;
    border: 1px solid $black;
    color: $white;
    transition: all 0.2s;
    text-transform: uppercase;
    &:focus {
      background: rgba(0, 0, 0, 0.7);
      box-shadow: 0px 0px 5px 2px $gold;
    }
  }
  label {
    display: block;
    position: relative;
    top: 4px;
    font-weight: bolder;
  }
  input {
    &:focus {
      border: 1px solid $gold;
    }
  }
}
// ////// FOOTER
.footer {
  background: $black;
  color: $white;
}

//////// OTHER
.text {
  &--gold {
    color: $gold;
  }
}
.icon {
  &--fb {
    @include icon-img("fb");
  }
  &--yt {
    @include icon-img("yt");
  }
  &--tw {
    @include icon-img("tw");
  }
}
h1,
h2,
.logo__text,
.dish__heading {
  font-family: "Gentium Book Basic", serif;
}
