@import url('https://fonts.googleapis.com/css?family=Gentium+Basic:400,700|Varela+Round');
body {
  font-family: 'Varela Round', sans-serif;
}

a {
  color: inherit;
  position: relative;
  &:hover {
    color: $gold;
    text-decoration: none;
  }
}

li {
  list-style: none;
}

section {
  padding: 3em 0;
  @include media-breakpoint-up(md) {
    padding: 4em 0;
  }
  @include media-breakpoint-up(lg) {
    padding: 5em 0;
  }
}

button {
  background: none;
  border: transparent;
}

p {
  max-width: 40em;
  @include media-breakpoint-up(lg) {
    max-width: 50em;
  }
}

button,
a {
  &:focus {
    border: 2px solid $gold;
    outline: none;
  }
}

ul {
  padding: 0;
}

h1,
h2,
h3,
.logo__text {
  font-family: 'Gentium Basic', serif;
}

.page-button {
  padding: 0.5em 0.9em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  @include media-breakpoint-up(sm) {
    padding: 0.7em 1.4em;
  }
  @include media-breakpoint-up(lg) {
    padding: 0.8em 1.8em;
  }
  &--custom {
    background-color: rgba(15, 15, 15, 0.7);
    border-radius: 0;
    border: 1px solid $white;
    &:hover {
      background-color: $white;
      color: $black;
      border: 1px solid $black;
    }
  }
  &--gold {
    background-color: $gold;
    color: $white;
    border: 1px solid $black;
    &:hover {
      background-color: $white;
      color: $black;
    }
  }
}

.text {
  &--gold {
    color: $gold;
  }
}