.testimonial {
    @extend .ingredients;
    @include bg-image("bg-testimonial");
    &__heading {
        @include decoration("white");
    }
    &__paragraph {
        position: relative;
        &::before,
        &::after {
            font-family: "Gentium Book", serif;
            font-size: 3em;
            position: absolute;
            opacity: 0.9;
            display: none;
            @include media-breakpoint-up(sm) {
                display: block;
            }
        }
        &::before {
            content: open-quote;
            top: -0.5em;
            left: -0.5em;
            @include media-breakpoint-up(md) {
                left: -1em;
            }
        }
        &::after {
            content: close-quote;
            bottom: -0.5em;
            right: -0.5em;
            @include media-breakpoint-up(md) {
                right: -0.8em;
            }
        }
    }
}